/* Vars */

:root {

  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blacklight: #333333;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-grey: #F2F2F2;
  --basic-greylight: #EEEEEE;
  --basic-darkgrey: #666666;

  --hover-blue: #669EC0;
  --hover-brown: #604E43;
  --hover-grey: #EBEBEB;

  --active-blue: #5496BD;
  --active-brown: #503E33;
  --active-logo: #BDBBBC;

  --border: #E5E5E5;
  --footer-bg: rgba(255,255,255, 0.9);
  --scale-bar: #ABABAB;
  --opacity: rgba(255, 255, 255, 0)
  
}

/* Fonts */

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
}

.body-page {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  background-color: var(--basic-grey);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.clear {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Header */

.main-nav {
  background-color: var(--basic-white);
  width: 1200px;
  height: 56px;
}

.main-nav__list {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 73px;
  margin: 0;

}

.main-nav__item {
  text-decoration: none;
  color: var(--basic-black);
}

.main-nav__list-item {
  width: 220px;
  padding-top: 15px;
  text-align: left;
}

.main-nav__list-item:nth-child(4n+3) {
  margin-left: auto;
  text-align: right;
}

.main-nav__list-item:nth-child(4n+4) {
  text-align: right;
}

.main-nav__item:hover {
  color: var(--basic-blue);
}

.main-nav__item:active {
  opacity: 0.3;
}

.main-header__logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

/* Billboard */

.billboard {
  display: grid;
  grid-template-columns: auto;
  background-image: url("../img/billboard_bg.jpg");
  width: 1200px;
  min-height: 509px;
}

.greeting {
  justify-self: center;
  padding-top: 77px;
}

/* Preview */

.preview {
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 42px;
}

.preview::before {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  background-image: url("../img/Shape.svg");
  top: -57px;
}

.preview__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  margin-bottom: 44px;
}

.preview__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 55px;
}

/* Advantages */

.advantages__item {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
  background-color: var(--basic-white);
}

.advantages__item-text {
  width: 400px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
}

.advantages__item-img {
  width: 800px;
  height: 256px;
  grid-column: 2 / -1;
}

.advantages__item--img {
  display: block;
}

.advantages__item-text--reverse {
  width: 400px;
  grid-column: 3/ 4;
  grid-row: 1 / 2;
  padding-top: 49px;
}

.advantages__item-img--reverse {  
  width: 800px;
  min-height: 256px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.advantages__item_greey-wrap {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.advantages__item_blue {
  background-color: var(--basic-blue);
}

.advantages__item_greey {
  width: 400px;
  background-color: var(--basic-greylight);
  padding-top: 44px;
  padding-bottom: 56px;
}

.advantages__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  min-width: 122px;
  text-align: center;
  margin: 0;
  margin-bottom: 26px;
}

.advantages__number,
.advantages__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
}

.advantages__number {
  margin-bottom: 25px;
}

.advantages__title--white,
.advantages__number--white,
.advantages__text--white {
  color: var(--basic-white);
}

/* Recommendation */

.recommendation__item {
  background-color: var(--basic-white);
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.recommendation__item-housing::before {
  content: "";
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-housing.svg");
  position: absolute;
  top: 59px;
}

.recommendation__item-food::before {
  content: "";
  width: 75px;
  height: 70px;
  background-image: url("../img/icon-food.svg");
  position: absolute;
  top: 60px;
}

.recommendation__item-souvenirs::before {
  content: "";
  width: 64px;
  height: 77px;
  background-image: url("../img/icon-souvenirs.svg");
  position: absolute;
  top: 55px;
}

.recommendation__title {
  padding-top: 139px;
  margin-bottom: 26px;
}

.recommendation__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
}

.recommendation {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

/* Offer */

.offer {
  line-height: 24px;
  color: var(--basic-black);
  text-transform: uppercase;
  min-height: 291px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer__title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-top: 55px;
  margin-bottom: 31px;
}

.offer__text {
  font-weight: normal;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 46px;
}

.offer__button {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  width: 568px;
  height: 86px;
  border: none;
  outline: none;
}

.offer__button:hover {
  background-color: var(--hover-brown);
}

.offer__button:active {
  background-color: var(--active-brown);
}

/* Map */

.map {
  position: relative;
}

.map_img {
  display: block;      
}

.map_iframe {
  position: absolute;
}

/* Footer */

.main-footer {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--footer-bg);
  opacity: 0.9;
  min-height: 120px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.main-footer--transform {
  transform: translateY(-100%);
}

.main-footer__text {
  font-weight: normal;
  font-size: 14px;
  margin-right: 8px;
}

.main-footer__contacts {
  display: flex;
  flex-direction: column;  
  text-align: center;
  padding-top: 18px;
  padding-left: 74px;
}

.main-footer__contacts-hashtag {  
  margin-bottom: 10px; 
}

.social__items {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;  
}

.social__button:nth-child(even) {
  margin: 0 3px 0 3px;
}


.social__button {
  width: 48px;
  height: 46px;
  background-color: var(--basic-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__button:hover {
  background-color: var(--hover-blue);
}

.social__button:active {
  background-color: var(--active-blue);
}

.social__button:active path {
  fill-opacity: 0.3;
}

.main-footer__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-footer__text {
  margin-right: 9px;
  margin-left: 65px;
}

.main-footer__logo-htmlacademy path:hover {
  fill: var(--basic-blue);
}

.main-footer__logo-htmlacademy path:active {
  fill: var(--active-logo);
}

/* Searche form */

.searche__form {  
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  display: flex;    
  background-color: var(--basic-white);  
  padding: 55px 55px;  
  display: none;    
}

.popap-show {
  display: block;
  z-index: 1;
}

.searche__form-date {    
  border: none;   
}

.searche__form-date--departure-icon::before {
  content: "";
  position: absolute;
  background-image: url('../img/calendar.svg');
  width: 21px;
  height: 23px;
  top: 62px;
  right: 70px;    
}

.searche__form-date--arrival-icon::before {
  content: "";
  position: absolute;
  background-image: url('../img/calendar.svg');
  width: 21px;
  height: 23px;
  top: 132px;
  right: 70px;
}

.searche__form-date input:hover {
  background-color: var(--hover-grey);
}

.searche__form-date input:focus {
  outline-color: var(--border);
  background-color: var(--basic-white);
}


.searche__form-quantity {
  display: flex;
  flex-direction: row; 
  font-size: 0;     
  border: none;
  margin-bottom: 55px;    
}

.searche__form-quantity--minus,
.searche__form-quantity--plus { 
  outline: none; 
  width: 40px;
  height: 40px;  
}

.searche__form-quantity--plus path:hover {
  fill: var(--basic-black);
}

.searche__form-quantity--minus rect:hover {
  fill: var(--basic-black);
}

.searche__form-quantity--plus path:active {
  fill: var(--basic-blue);
}

.searche__form-quantity--minus rect:active {
  fill: var(--basic-blue);
}

.searche__form-quantity--grown,
.searche__form-quantity--child {   
  width: 20px;
  height: 20px;
  padding: 10px;
  border: none;  
  background-color: var(--basic-grey);
}

.searche__form-quantity button {  
  border: none;
}

.searche__form-date input {
  width: 341px;
  height: 38px;
  border: none;
  margin-bottom: 28px;
  background-color: var(--basic-grey);  
}

.searche__form-date--arrival,
.searche__form-date--departure  {
  margin-right: 24px;      
}

.searche__form-button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  width: 100%;   
  height: 58px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  outline: none;
}

.searche__form-button:hover {
  background-color: var(--hover-blue);
}

.searche__form-button:active {
  background-color: var(--active-blue);
}

.searche__form-quantity-grown {
  font-size: 14px;
  margin-right: 43px;
}

.searche__form-quantity-child {
  font-size: 14px;
  margin-left: 50px;
  margin-right: 20px;
}

.searche__form-wrap {
  position: relative;
}

/* Form selection */

.selection {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;  
  min-height: 217px;
  color: var(--basic-white);
  background-image: url("../img/form_bg.jpg");
}

.selection__form {
  display: flex;
  justify-content: flex-start;
  padding: 25px 73px 0;
}

.selection__section {
  border: none;
  display: flex;
  flex-direction: column;
  width: 200px;  
}

.selection__title {
  font-weight: bold;
  font-size: 16px;
}

.selection__section:first-child {
  margin-right: 55px;
}

.selection__section:last-child {
  margin-left: auto;  
}

.selection__section label {
  margin-left: 40px;
  position: relative;
  display: block;  
  margin-top: 25px;
  cursor: pointer;   
}

.selection__section-check + label::before {
  content: "";
  position: absolute;  
  left: -40px;
  width: 19px;
  height: 19px;  
  border: 2px solid var(--basic-white);
  border-radius: 15%;  
}

.selection__section-check:checked + label::after {
  content: "";
  position: absolute;
  left: -40px;
  width: 27px;
  height: 23px;  
  background-image: url('../img/checkbox-on.svg');
}

.selection__price-controls input {
  border: none;
  background-color: var(--opacity);
  color: var(--basic-white);    
}

.selection__price-controls label {
  display: flex;
  border: 1px solid var(--basic-white);
  width: 156px;
  height: 35px;
  margin-left: 0;
  margin-top: 0;    
}

.selection__range-filter {  
  width: 100%;
  height: 2px;
  background-color: var(--basic-white); 
  opacity: 0.3;  
}

.selection__price-controls {
  display: flex;  
  margin-top: 11px;
  margin-bottom: 20px;
}

.selection__min-price,
.selection__max-price {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.selection__min-price input,
.selection__max-price input {
  width: 40px;
  outline: none;
    
}

.selection__section-button {  
  width: 137px;
  height: 35px;
  text-transform: uppercase;
  background-color: var(--opacity);
  color: var(--basic-white);
  border: 1px solid var(--basic-white);
  margin-left: 85px;
  margin-top:32px;      
}

.selection__range-price {
  position: relative;
}

.selection__toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);  
  border-radius: 50%;
  opacity: 1;
}

.toggle-min {
  position: absolute;
  top: -9px;
  left: 0;
}

.toggle-max {
  position: absolute;
  top: -9px;
  left: 253px;   
}

/* Sorting */
.sorting {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  display: flex;
  justify-content: flex-start;
  padding: 28px 73px 30px;
}

.sorting__title {  
  display: flex;
}

.sorting__title:last-child {  
  margin-top: 5px;
}

.sorting__parameters {
  display: flex;
  list-style: none;
}

.sorting__parameters li {
  margin-top: 3px;
}

.quantity,
.sorting_title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-right: 5px;
}

.sorting__quantity-result {
  margin-right: 45px;
}

.sorting__parameters-item {
  text-decoration: none;
  opacity: 0.3;
  margin-right: 30px;
}

.sorting__parameters-item:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.sorting__parameters-item:active {
  color: var(--basic-black);
  opacity: 1;
}

.sorting__toggle {
  margin: 0;
  list-style: none;
  margin-left: auto;
  display: flex;
  margin-top: 7px;
}

.sorting__toggle_down {
  margin-left: 12px;
}

.sorting__text {
  margin-right: 43px;
}

.sorting__toggle_up path:hover,
.sorting__toggle_down path:hover {
  fill: var(--basic-blue);
}

.sorting__toggle_up .current path:active {
  fill: var(--basic-blue);
}

/* Sorting-list */

.sorting-list__result {
  display: grid;
  grid-template-columns: 1200px;
}

.sorting-list--clear {
  list-style: none;
}

.sorting-list__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-blacklight);
  display: flex;
  padding: 27px 73px;
  border-top: 2px solid var(--border);
}

.sorting-list__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin-bottom: 15px;
}

.sorting-list__title:hover {
  color: var(--basic-blue);
}

.sorting-list__title:active {
  opacity: 0.3;
}

.sorting-list__details {
  font-weight: bold;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--basic-blue);
  display: flex;
  width: 110px;
  height: 27px;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.sorting-list__details:hover {
  background-color: var(--hover-blue);
}

.sorting-list__details:active {
  background-color: var(--active-blue);
}

.sorting-list__reservation {
  font-weight: bold;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--basic-brown);
  display: flex;
  width: 142px;
  height: 27px;
  align-items: center;
  justify-content: center;
}

.sorting-list__reservation:hover {
  background-color: var(--hover-brown);
}

.sorting-list__reservation:active {
  background-color: var(--active-brown);
}

.sorting-list__wrap {
  display: flex;
  margin-bottom: 15px;
}

.sorting-list__type-hotel {
  width: 116px;
}

.sorting-list__foto {
  display: block;
  margin-right: 29px;
}

.sorting-list__raiting {
  margin-left: auto;
}

.sorting-list__buttons {
  display: flex;
}
 
.sorting-list__rating {
  
}
